<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>

<!-- Header section -->
<header th:replace="~{fragments/layout.html :: header}"></header>

<!-- Main container -->
<div class="container">
    <main role="main" class="pb-3">

        <!-- Application title -->
        <div class="text-center">
            <h3 class="mt-4">PoistenieApp</h3>
        </div>

        <!-- Application logo -->
        <div class="text-center mt-3">
            <img th:src="@{/images/poistenie_logo.webp}" alt="Poistenie Logo" class="img-fluid rounded" width="400" height="400" />
        </div>

    </main>
</div>

<!-- Footer section -->
<footer th:replace="~{fragments/layout.html :: footer}"></footer>

</body>
</html>
